@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --pink: hsl(322, 100%, 66%);

    /* Neutral */
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
}

html {
    margin-top: 35px;
}

body {
    background-color: var(--very-pale-cyan);
}



header {
    margin: auto;

    width: 1440px;
    background: url(/huddle-landing-page-945317-master/images/bg-hero-desktop.svg);


    font-family: "Poppins";
}

nav {
    height: 60px;
}

header>nav>#try-it-btn {
    float: right;
    width: 150px;
    margin-right: 25px;

    border-radius: 20px;
    box-shadow: 3px 3px 22px 4px rgba(19, 18, 18, 0.705);
    background-color: white;


    text-align: center;
    color: var(--very-dark-cyan);
}


header>#top-content-container {
    width: 100%;
}

header>#top-content-container>#top-info-container {
    position: relative;
    top: -250px;
    display: inline-block;
    box-sizing: border-box;
    width: 33%;
}

#get-started-box {
    width: 40%;
    padding: 5px;
    padding-left: 15px;
    border-radius: 20px;

    background-color: var(--pink);
    text-align: center;
    color: var(--very-pale-cyan);
}

header>#top-content-container>#mockup {
    display: inline-block;
    width: 960px;
}

h2 {
    font-size: 40;
    color: var(--very-dark-cyan);
}

#body-container {
    margin: auto;
    width: 1440px;
    box-sizing: border-box;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;

    font-family: 'Open Sans';
}

#body-container .body-box {
    width: 70%;
    margin: auto;
    margin-top: 50px;
    padding: 40px 40px;
    border-radius: 15px;
    display: flex;
    box-shadow: 2px 2px 40px 0.5px var(--very-dark-cyan);
    justify-content: space-around;
}

.text-body-box {
    width: 50%;
    position: relative;
    padding-top: 6%;
}

.text-body-box>h3 {
    font-size: 25pt;
    color: var(--very-dark-cyan);
}

.text-body-box>p {
    color: grey;
}

.body-img {
    box-sizing: border-box;
    width: 400px;
    height: 400px;

    display: inline-block;
}

#body-container>#ready-to-build {
    margin: auto;
    padding: 50px;
    width: 800px;
    position: relative;
    top: 140px;
    border-radius: 20px;
    z-index: 1;
    background-color: white;
    text-align: center;
}

#body-container>#ready-to-build p {
    margin: auto;
}



footer {
    margin: auto;
    width: 1440px;
    box-sizing: border-box;
    font-family: 'Open Sans';
    background-color: var(--very-dark-cyan);
    padding: 100px;

}

footer>#logo-footer {
    margin-bottom: 45px;
}

footer>#logo-footer path {
    fill: white;
}

footer>#footer-content-container {
    display: grid;
    color: white;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 3fr 2fr 2fr;
}


footer>#footer-content-container>#info-box-container {
}

footer>#footer-content-container>#info-box-container>.info-box{
    display: grid;
    grid-template-columns: 1fr 8fr;
}
footer>#footer-content-container>#info-box-container img {
    margin: auto;
    width: 20px;
}

footer>#footer-content-container>#info-box-container p {
    width: 80%;
}

/* footer>#footer-content-container>#addition-info-container {
} */

footer>#footer-content-container>#addition-info-container ul {
    columns: 2;
}

footer #social-network {
    display: inline-block;
}

footer #social-network>.social-network-icon {
    margin: 10px;
    width: 40px;
}

footer #copyright { 
    grid-column: 1/4;
    text-align: right;
}